*   {
    margin: 0;
    padding: 0;
}
/*--Navigation--*/
#nav-bar    {
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar-brand img   {
    height:40px;
    padding-left:30px;
}
.navbar-nav li  {
    padding: 0 10px;
}
.navbar-nav li a   {
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover   {
    color: #007bff!important;
}
.navbar {
    background: #fff;
}
.navbar-toggler {
    border: none!important;
}
.nav-link   {
    color:#555!important;
    font-weight: 600;
    font-size: 16px;
}

/*---Slider---*/
#slider     {
    width: 30%;
}
.carousel-caption   {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial!important;
}
.carousel-caption h5    {
    color: #fff;
    font-size: 42px;
}

/*------Home--------*/
#home  {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
} 
#home .btn  {
    margin-top: 20px;
    margin-bottom: 30px;
}
.home-content  {
    padding-top: 20px;
}
.about-content    {
    padding-top: 20px;
}

*   {
    margin: 0;
    padding: 0;
}

/*------Mission--------*/
#mission  {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
} 
#about .btn  {
    margin-top: 20px;
    margin-bottom: 30px;
}
.about-content  {
    padding-top: 20px;
}
.mission-content    {
    padding-top: 20px;
}

/*--------------------Pastoral Team -------------------*/
#team   {
    padding-top: 50px;
    padding-bottom: 50px;  
}
#team img {
    border-radius: 50%;
}

#team style{
    height: 50px;
    width: 50px;
    color: darkkhaki;
}

h1  {
    text-align: center;
    color: #555 !important;
    padding-bottom: 10px;
}
h1::after   {
    content: '';
    background: #007bff;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
.profile-pic    {
    margin-top: 20px;
}
.profile-pic .img-box   {
    opacity: 1;
    display: block;
    position: relative;
}
.profile-pic .img-box img   {
    filter: grayscale(1);

}
.profile-pic .img-box img :hover  {
    filter: grayscale(0);
    cursor: pointer;
}
.profile-pic h2     {
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
    color: #007bff !important;

}
.profile-pic h3     {
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;

}
#team .fa {
    height: 25px;
    width: 25px;
    color: #007bff !important;
    background: #fff;
    padding: 4px;
    border-radius: 50%;
}

.img-box ul     {
    padding: 15px 0;
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}
.img-box ul li  {
    padding: 5px;
    display: inline-block;
}
.img-box:hover ul   {
    opacity: 1; 
}
.img-box ul, .img-box ul li     {
    transition: 0.5s;
}


/*--------------------Giving---------*/
#give {
    background-image: linear- gradient {
    (rgba(0,0,0,0.8),#rgba(0.0.0.8)),
    url(img/images.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px; 
    color: #555;
}

h1  {
    text-align: center;
    color: #555 !important;
    padding-bottom: 10px;
}

#give h1::after
{
   content: '';
   background: #efefef;
   display: block;
   height: 3px;
   width: 170px;
   margin: 20px auto 5px;
}
.give  
{
    margin-top: 40px;
}
.icon
{
    font-size: 40px;
    margin: 20px auto;
    padding: 20px;
    height: 80px;
    width: 80px;
    border: 1px solid #fff;
    border-radius: 50%;
}

.give .column {
    transition: 0.7s;
    float: left;
    width: 33.33%;
}


/*------------------------Get in Touch-------------------*/
#contact    
{   background: #efefef;
    padding-top: 40px;
    padding-bottom: 40px;
    color:grey;

}
.contact-form
{
    padding: 15px;
}
.form-control   
{
    border-radius: 0 !important;
    border: none !important;
}
::placeholder 
{
    color: #999 !important;
}
.follow 
{
    background: #fff;
    padding: 10px;
    margin: 15px;
}